
#videoFrame {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 50%;
  object-fit: fill;
  border-top: 2px solid #fff;
  border-bottom: 3px solid #fff;
}

.loading {
  background: black url("../assets/Loading.gif") center center no-repeat;
}
